{% extends "base.html" %}

<title>DNA LIST</title>

{% block content %}
    <div class="banner-interna">
      <h1>LISTAGEM DNA</h1>
    </div>

<main>
  <table>
    <thead>
      <tr>
        <td>ID</td>
        <td>SEQUENCIA</td>
      </tr>
    </thead>
    <tbody>
      {% for dna in dnas %}
        <tr>
          <td>{{ dna.id }}</td>
          <td>{{ dna.sequencia }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="./new"><button  style="margin-top: 30px;">Inserir DNA</button></a>

</main>
{% endblock %}