{% extends "base.html" %}

<title>Inserir novo DNA</title>

{% block content %}
<div class="banner-interna">
    <h1>Inserir novo DNA</h1>
</div>

<main>

    {% for field, errors in form.errors.items() %}
    <p style="color: red">
        {{ form[field].label }}: {{ ', '.join(errors) }}
    </p>
    {% endfor %}

    <form method="POST" action="./new">
        {{ form.hidden_tag() }}
        <div>
            {{ form.id.label }} {{ form.id() }}
        </div>
        <div>
            {{ form.sequencia.label }} {{ form.sequencia(size=20) }}
        </div>
        <input type="submit" value="Create"/>
    </form>

</main>

{% endblock %}