{% extends "base.html" %}

<title>Faça seu login</title>

{% block content %}
   <div class="banner-interna">
        <h1>Faça Login no Banco de Dados Genético</h1>
   </div>

   <main>
       <form method="POST" action="{{ url_for('login_blueprint.login') }}">
           {{ form.hidden_tag() }}
           <div>
               {{ form.email.label }} {{ form.email() }}
           </div>
           <div>
               {{ form.password.label }} {{ form.password() }}
           </div>
           <button type="submit" value="Create">Login</button>
       </form>
   </main>
{% endblock %}