*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

header{
    width: 100wh;
    padding: 10px 100px;
    background-color:#b1b5b4;
    display: flex;
    justify-content: space-between;
    vertical-align: baseline;
}

header div{
    display: flex;
}

.logo{
    width: 40px;
}

#banner {
    width: 100wh;
    height: 35vh;
    padding: 30px 100px;
    background-image: url(banner-principal.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position:center;
    background-size: cover;
}

.banner-interna {
    width: 100wh;
    height: 30px;
    padding: 30px 100px;
    background-color: #004148;
}
/*COLORS
azul-escuro:#004148
azul-turquesa:#36B6AC
azul-claro:
fundo claro:#EEEEEE
rosa-slides:#f58ba2;
azul verde: 0E5E6F

*/

main{
    color: #1d1d1d;
    padding: 60px 100px;
    background-color: #EEEEEE;
}

main div{
    margin: 0 auto;
}

main h1{
    margin: auto 0;
    font-size: 30px;
    color: #3a3a3a;
}

main div.btn-menu{
    display: grid;
    justify-content: center;
    text-align: center;
}

footer{
    color: #FFFFFF;
    padding: 30px 100px;
    background-color:#0E5E6F;
}

menu{
    margin: auto 0;
}

menu a{
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    text-align: left;
    padding: 0 10px;
}

h1{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 100px;
    margin: auto 0;
}

h2{
    color: #00302d;
}

p{
    text-align: justify;
}

button{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 55px;
    border: 2px solid #0E5E6F;
    border-radius: 30px;
    background-color: #FFFFFF00;
    text-justify: inter-character;
}

button:hover{
    color: #FFFFFF;
    background-color: #0E5E6F;
    border0-color: #0E5E6F;
    transition: .2s ease-in-out;
}

table, td{
    border-collapse: collapse;
    border: 1px solid grey;
    padding: 10px;
}

table td:first-chield{
    background-color: #e1e1e1;
}

form{
    padding: 0px;
}

form input{
    display: flex;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    width: 300px;
    margin-top: 10px;
}

form div{
    margin: 15px 0;
}

label{
    color: #1d1d1d;
    font-weight: bold;
    padding: 5px 0;
}

form button{
    color: #1d1d1d;
    font-size: 16px;
    border: 1px solid #004148;
    border-radius: 5px !important;
}

form .button input#submit{
    color: #1d1d1d;
    font-size: 16px;
    border: 1px solid #004148;
}