{% extends "base.html" %}

{% block content %}
    <main>
    <div style="display: flex;">
        <div style="width:50%">
            <h2>Título H2</h2></br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra ligula lacus,
               et accumsan massa aliquet vitae. Mauris rutrum turpis sed viverra ultrices. Morbi lorem
               ex, porttitor ut purus eu, lobortis aliquet massa. Sed scelerisque sagittis turpis, ac
               vestibulum lorem accumsan quis. Praesent maximus sapien accumsan odio feugiat, a viverra
               mauris congue. Donec imperdiet quam in sodales ultrices. Praesent lacinia sed mi in accumsan.
               Duis ac ipsum erat. In lectus ante, placerat ornare volutpat ac, malesuada id mi.
            </p>
        </div>

        <div class="btn-menu" style="width:50%; border-left: 2px solid #1d1d1d; margin-left: 60px">
           <h2>Selecione uma função</h2></br>
           <a href="./dna/new"><button>INSERIR DNA</button></a>
           <a href="./dna/"><button style="padding: 10px 35px;">CONSULTAR LISTA</button></a>
        </div>
    </div>
    </main>
{% endblock %}
